<!DOCTYPE html>
<html lang="en">

<%- include('../components/head') %>

<body>
  <%- include('../components/navbar') %>

  <div class="container navbar-padding">
    <div class="row">
      <div class="col">
        <h2>Dashboard</h2>
      </div>
      <div class="row text-right">
        <div class="col">
          <h2>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#updateKasusModal_<%= kasus._id %>">
              <i class="fas fa-pen"></i>
            </button>
          </h2>
          <div class="modal fade" id="updateKasusModal_<%= kasus._id %>" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">
                    <b>Perbarui Data?</b>
                  </h4>
                </div>
                <div class="modal-body">
                  <form action="/admin/update/<%= kasus._id %>" method="POST" onsubmit="setTimeout(function(){window.location.reload();},500);">
                    <div class="form-group">
                      <label class="bmd-label-floating" for="terkonfirmasi">Terkonfirmasi</label>
                      <input name="terkonfirmasi" type="number" class="form-control" autocomplete="off" value="<%= kasus.terkonfirmasi %>">
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating" for="no">Sembuh</label>
                      <input name="no" type="number" class="form-control" autocomplete="off" value="<%= kasus.sembuh %>">
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating" for="no">Sembuh</label>
                      <input name="no" type="number" class="form-control" autocomplete="off" value="<%= kasus.sembuh %>">
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                      <button type="submit" class="btn btn-danger">Perbarui</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h2>
            <button class="btn btn-primary" onclick="window.location.reload()">
              <i class="fas fa-refresh"></i>
            </button>
          </h2>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Terkonfirmasi</h4>
            </div>
            <div class="card-body">
              <h3>
                <b><%= kasus.terkonfirmasi %></b>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Aktif</h4>
            </div>
            <div class="card-body">
              <h3>
                <b><%= kasus.kasus_aktif %></b>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Sembuh</h4>
            </div>
            <div class="card-body">
              <h3>
                <b><%= kasus.sembuh %></b>
              </h3>
            </div>
          </div>
        </div><div class="col-sm">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Meninggal</h4>
            </div>
            <div class="card-body">
              <h3>
                <b><%= kasus.meninggal %></b>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Suspek</h4>
            </div>
            <div class="card-body">
              <h3>
                <b><%= kasus.suspek %></b>
              </h3>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Probable</h4>
            </div>
            <div class="card-body">
              <h3>
                <b><%= kasus.probable %></b>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">Nomor HP</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr>
              <td><%= user.nama %></td>
              <td><%= user.alamat %></td>
              <td><%= user.no %></td>
              <td>
                <% if (user.status_covid === 'positive') { %>
                  <span class="badge badge-danger">Bergejala</span>
                <% } else { %>
                  <span class="badge badge-success">Tidak Bergejala</span>
                <% } %>
              </td>
              <td>
                <button class="link-button" type="button" data-toggle="modal" data-target="#gejalaModal_<%= user._id %>">
                  <span class="badge badge-warning">
                    <i class="fas fa-eye"></i>
                  </span>
                </button>
                <button class="link-button" type="button" data-toggle="modal" data-target="#updateModal_<%= user._id %>">
                  <span class="badge badge-info">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
                <button class="link-button" type="button" data-toggle="modal" data-target="#deleteModal_<%= user._id %>">
                  <span class="badge badge-danger">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
                <div class="modal fade" id="gejalaModal_<%= user._id %>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                          <b>Gejala yang dirasakan <%= user.nama %></b>
                        </h4>
                      </div>
                      <div class="modal-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Gejala</th>
                              <th scope="col">Dirasakan</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% Object.keys(user.gejala).forEach(function(key) { %>
                              <tr>
                                <td><%= key %></td>
                                <td>
                                  <% if(user.gejala[key]) {%>
                                    <span class="badge badge-success">Ya</span>
                                  <% } else { %>
                                    <span class="badge badge-danger">Tidak</span>
                                  <% } %>
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="modal fade" id="updateModal_<%= user._id %>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                          <b>Perbarui data <%= user.nama %>?</b>
                        </h4>
                      </div>
                      <div class="modal-body">
                        <form action="/admin/update/<%= user._id %>" method="POST" onsubmit="setTimeout(function(){window.location.reload();},500);">
                          <div class="form-group">
                            <label class="bmd-label-floating" for="nama">Nama</label>
                            <input name="nama" type="text" class="form-control" autocomplete="off" value="<%= user.nama %>">
                          </div>
                          <div class="form-group">
                            <label class="bmd-label-floating" for="alamat">Alamat</label>
                            <input name="alamat" type="text" class="form-control" autocomplete="off" value="<%= user.alamat %>">
                          </div>
                          <div class="form-group">
                            <label class="bmd-label-floating" for="no">Nomor HP</label>
                            <input name="no" type="text" class="form-control" autocomplete="off" value="<%= user.no %>">
                          </div>
                          <div class="form-group">
                            <label for=status_covid">Status COVID</label>
                            <select class="form-control selectpicker" data-style="btn btn-link" id="status_covid" name="status_covid">
                              <option value="positive" <%= user.status_covid === 'positive' ? 'selected' : '' %>>Bergejala</option>
                              <option value="negative" <%= user.status_covid === 'negative' ? 'selected' : '' %>>Tidak Bergejala</option>
                            </select>
                          </div>
                          <div class="text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                            <button type="submit" class="btn btn-danger">Perbarui</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="deleteModal_<%= user._id %>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                          <b>Hapus data <%= user.nama %>?</b>
                        </h4>
                      </div>
                      <div class="modal-body">
                        <form action="/admin/delete/<%= user._id %>" method="POST" onsubmit="setTimeout(function(){window.location.reload();},500);">
                          <div class="text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
                            <button type="submit" class="btn btn-danger">Hapus</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  
  <%- include('../components/footer') %>
  <%- include('../components/scripts') %>
</body>

</html>