<!DOCTYPE html>
<html lang="en">

<%- include('./components/head') %>

<body>
  <%- include('./components/navbar') %>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="text-center">
              <b>KKN UNS Kepatihan Kulon</b>
            </h1>
            <h3 class="subtitle">Kelompok 380</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section">
        <div class="text-center" id="statistik">
          <h2>
            <b>Statistik COVID-19 Surakarta</b>
          </h2>
          <hr>
          <div class="row">
            <div class="col-sm">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h3 class="card-title">Konfirmasi</h3>
                </div>
                <div class="card-body">
                  <h1>
                    <b><%= konfirmasi %></b>
                  </h1>
                  <hr>
                  <h3>Hari ini</h3>
                  <h2>
                    <b>+<%= konfirmasi_h %></b>
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h3 class="card-title">Suspek</h3>
                </div>
                <div class="card-body">
                  <h1>
                    <b><%= suspek %></b>
                  </h1>
                  <hr>
                  <h3>Hari ini</h3>
                  <h2>
                    <b>+<%=suspek_h %></b>
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h3 class="card-title">Probable</h3>
                </div>
                <div class="card-body">
                  <h1>
                    <b><%= probable %></b>
                  </h1>
                  <hr>
                  <h3>Hari ini</h3>
                  <h2>
                    <b>+<%=probable_h %></b>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="text-center" id="nomor-penting">
          <h2>
            <b>Nomor Penting</b>
          </h2>
          <hr>
          <div class="row">
            <div class="col-sm">
              <div class="card bg-warning">
                <div class="card-body">
                  <h4 class="card-title">Card Title</h4>
                  <hr>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card bg-warning">
                <div class="card-body">
                  <h4 class="card-title">Card Title</h4>
                  <hr>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card bg-warning">
                <div class="card-body">
                  <h4 class="card-title">Card Title</h4>
                  <hr>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('./components/footer') %>
  <%- include('./components/scripts') %>
</body>

</html>