<!DOCTYPE html>
<html lang="en">

<%- include('../components/head') %>

<body>

  <div class="container navbar-padding col-xl-4 col-lg-5 col-md-6 col-sm-8">
    <div class="card card-nav-tabs">
      <div class="card-header <%= hasil_deteksi.status_covid === 'positive' ? 'card-header-danger' : 'card-header-success' %>">
        <h3 class="card-title">
          Deteksi Mandiri COVID-19
        </h3>
      </div>
      <div class="card-body">
        <% if (hasil_deteksi.status_covid === 'positive') { %>
          <h4 class="card-title">Anda memiliki gejala terinfeksi COVID-19. Segera hubungi Satgas COVID-19 setempat.</h4>
        <% } else { %>
          <h4 class="card-title">Anda tidak memiliki gejala terinfeksi COVID-19!</h4>
        <% } %>
        <div class="text-right">
          <% if (hasil_deteksi.status_covid === 'positive') { %>
            <a href="https://wa.me/+62">
              <button type="button" class="btn btn-warning">
                <i class="fab fa-whatsapp"></i> WhatsApp Satgas COVID
              </button>
            </a>
          <% } %>
          <a href="/">
            <button type="button" class="btn <%= hasil_deteksi.status_covid === 'positive' ? 'btn-danger' : 'btn-success' %>">
              <i class="fas fa-home"></i> Beranda
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%- include('../components/footer') %>
  <%- include('../components/scripts') %>
</body>

</html>